/*La page Accueil*/


body{ 
    padding: 0px;
    margin: 0px;
    background-color: #F3E9F1;
}
/* La partie en tête du site web */
header{ 
    border: 2px solid #F3E9F1;
    height: 90px;
}
.div-logo{
   /* border: 2px solid red;*/
    height: 100%;
    width: 200px;
    float: left;
}
.img-logo{ 
    height: 100%;
    width: 100%;
}
nav{ 
   /* border: 2px solid orange;*/
    float:right;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-shopping-bag{ 
    color: black;
    font-size: 40px;
}



/*Le Partie principale du site web */

.grande-image{ 
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banniere{ 
width: 100%;
height: 100%;
object-fit: cover;
}
.titre{ 
    position: absolute;
    font-size: 10vw;
    color: #DC5ED8;
    font-family: 'Yellowtail', cursive;
}
.sp-titre{ 
    position: absolute;
    top: 58%;
    font-size: 6vw;
    font-family: 'Yellowtail', cursive;
}

.pdt-vitrine h2{ 
    font-family: 'Yellowtail', cursive;
    font-size: 36px;
}
.title{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
#les-pdt{ 
   /* border: 2px solid green;*/
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;
}
a{ 
    text-decoration: none;
    color: black;
}
article{ 
   /* border: 1px solid red;*/
    height: 350px;
    width: auto;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin: 10px;
    position: relative;
}
article:hover{ 
    transform: scale(1.04);
    transition: 0.4s;
}
article img{ 
    width: 100%;
    height: 77%;
    object-fit: cover;
}

.descri1{ 
    /*border: 2px solid red;*/
    height: 20%;
    padding: 0px 10px;
}
#titre-cam1,#titre-cam2,#titre-cam3,#titre-cam4{ 
    font-family: 'Yellowtail', cursive;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 26px;
}
.div-prix1,.div-prix2,.div-prix3,.div-prix4{ 
    font-family: 'Yellowtail', cursive;
    float: left;
    font-size: 29px;
}
.div-voir{ 
    text-decoration: underline;
    color: gray;
    float: right;
}
/*Le css du footer*/
footer{ 
   /* border: 3px solid green;*/
    height: 150px;
    margin-top: 28px;
    background-color: #DADADA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

/*Fin de la page accueil*/
.div-CGV{ 
   /* border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.div-CGV p:hover{ 
    text-decoration: underline;
}
.socila-media{ 
   /* border: 1px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    justify-content: space-around;
}
.socila-media i:hover{ 
    color: #DC5ED8;
}
.contact{ 
   /* border: 1px solid orange;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.contact p:hover{ 
    text-decoration: underline;
}



/*Le css de la page produit*/
.contenue-page{ 
    /*border: 1px solid red;*/
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:1.5fr 2fr;
}
.section-image-pdt{ 
   /* border:1px solid blue;*/
    border-radius: 20px;
    padding: 30px;
}
.div-cam-vintage{ 
   /* border: 2px solid purple;*/
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.img-cam-vintage{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.section-descriptif{ 
   /* border: 2px solid red;*/
    border-radius: 20px;
}
.section-descriptif h2{ 
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Yellowtail', cursive;
}
.section-descriptif ul{ 
    line-height: 35px;
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
}
.section-descriptif p{ 
    font-size: 26px;
    margin-left: 20px;
    font-family: 'Yellowtail', cursive;
}
.fa-star{ 
    position: relative;
    left: 30px;
    font-size: 20px;
    color: #FEA900;
}
.lien-avis{ 
    position: relative;
    left: 30px;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Yellowtail', cursive;
    color: black;
}
.wrapp-color{ 
    padding-left: 30px;
}
.red { 
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
.blue { 
    height: 50px;
    width: 50px;
    background-color:#444FA3;
    border-radius: 50%;
    display: inline-block;
}
.black { 
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.silver { 
    height: 50px;
    width: 50px;
    background-color: #969696;
    border-radius: 50%;
    display: inline-block;
}
.ajout{ 
    border: 0px;
    position: relative;
    top: 0px;
    width: 30vw;
    height: 7vh;
    border-radius: 20px;
    color: white;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    background: linear-gradient(180deg, #E47AF6, #9356DC);
}
/*Fin du css de la page produit*/